<style>

.storyboard-nav .sbnext,
.storyboard-nav .sbprev {
  float: left;
  width: 2%;
  height: 220px;
  font-size: 50px;
}

.storyboard-nav .sbprev {
  text-align: left;
  width: 2%;
}

.storyboard-nav .sbnext {
  float: right;
  text-align: right;
  margin-right: 8px;
}

.storyboard-nav .sbframelist {
  margin: 0 auto;
  width: 94%;
  height: 220px;
  overflow: hidden;
  text-shadow: none;
  margin-bottom: 8px;
}

.storyboard-nav .sbframelist ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.storyboard-nav .sbframelist ul li {
  float: left;
  width: 270px;
  height: 100%;
  padding: 10px 10px 10px 10px;
  margin-right: 8px;
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  color: #3a3c47;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
}

</style>